---
layout: single
---

{{ content }}

{% comment %} Creates an empty array {% endcomment %}
{% assign tags = "" | split:"" %}

{% comment %}Creates an array of tags names{% endcomment %}
{% for t in site.tags %}
  {% assign tags = tags | push: t[0] %}
{% endfor %}

{% assign sorted_tags = tags | sort_natural %}

<ul class="taxonomy__index">
    {% for t in sorted_tags %}
        <a href="{{ t | slugify }}/"><strong>{{ t }}</strong> <span class="taxonomy__count">{{ site.tags[t].size }}</span></a>
    {% endfor %}
</ul>